.container {
  position: relative;
  z-index: 10;

  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  
}

.menu {
  display: flex;
  width: 450px;
  min-height: 600px;
  padding: 50px 70px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  box-shadow: 0 0 2px #34bdd2;
}

.title {
  margin-bottom: 80px;

  font-size: 150px;
  line-height: 1;
  text-shadow: 4px 2px 1px rgba(14, 131, 177, 0.3);
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

@media (max-width: 500px) {
  .menu {
    width: calc(100% - 32px);
    min-height: 550px;
    padding: 40px 24px;
  }

  .title {
    font-size: 100px;
  }
}