
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.title {
    margin-bottom: 20px;
    align-self: center;
    font-size: 35px;
    line-height: 1;
    text-shadow: 4px 2px 1px rgba(14, 131, 177, 0.3);
}


