@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

* { 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
}

body {
    width: 100%;
    height: 100%;
    background-color: #C1EFFF;
    background-image: url("/background/els.png"), url("/background/els.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top -150px center, bottom -110px center;
    background-size: 130% auto, 130% auto;
    color: #000;
    font-family: 'Neucha', regular;
    overflow: hidden;
}

.img {
    width: 300px;
    border-radius: 10px;
    margin-top: 20px;
}
/* General button styles */ 

.main-button {
    width: 190px;
    height: 50px;
    transition: 0.3s;
    font-family: 'Neucha', regular;
    font-size: 24px;
    border: 0;
    background-color: #FFF974;
    border: 0.1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0px 5px 1px #C0F0FE;
}
.main-button:hover {
    width: 220px;
    transition: 0.2s;
    background-color:rgb(252, 243, 56);
}
.utilit-btn1 {
    margin-bottom: 35px;
}
.utilit-btn2 {
    margin-bottom: 140px;
}

/* Main menu of the game */

.container {
    display: flex;
    justify-content: center;
}
.main-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 700px;
    margin-top: 200px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    padding: 50px 70px;
    box-shadow: 0px 0px 2px #34bdd2;
    border: 0.1px solid rgba(0, 0, 0, 0.1);
    z-index: 10;
}
.main-block_title {
    font-size: 100px;
    Font-family: Neucha;
    Font-style: Regular;
    Font-size: 150px;
    Line-height: 275px;
    Line-height: 100%;
    text-shadow: 4px 2px 1px rgba(14, 131, 177, 0.3);
    margin-bottom: 80px;
}
@media screen and (max-width: 1600px) {
    .main-block {
        width: 420px;
        height: 600px;
        margin-top: 130px;
    }
}
@media screen and (max-width: 1200px) {
    .main-block {
        width: 380px;
        margin-top: 120px;
    }
    .utilit-btn2 {
        margin-bottom: 100px;
    }
    
}
@media screen and (max-width: 500px) {
    .main-block {
        width: 350px;
        margin-top: 70px;
    }
}
/* Rules of the game */

.rules_title {
    font-size: 58px;
    margin-bottom: 70px;
}
.rules_text {
    margin-bottom: 150px;
}
@media screen and (max-width: 1600px) {
    .rules_title {
        font-size: 50px;
    }
    .rules_text {
        margin-bottom: 100px;
    }
}
@media screen and (max-width: 1200px) {
    .rules_title {
        font-size: 45px;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 500px) {
    .rules_title {
        font-size: 35px;
    }
}

/* laying field */

.field {
    padding: 10px;
}

.field_time {
    color: aqua;
    text-shadow: 1px 1px 1px #000;
    font-size: 40px;
}

.field_flexBtn { 
    display: flex;
    margin-top: 100px;
}
@media screen and (max-width: 1600px) {
    .field_flexBtn { 
        margin-top: 40px;
    }
}
@media screen and (max-width: 1200px) {
    .img {
        width: 290px;
        border-radius: 10px;
        margin-top: 20px;
    }
}

.answer-button {
    width: 100px;
    height: 50px;
    margin-bottom: 35px;
    transition: 0.3s;
    font-family: 'Neucha', regular;
    font-size: 24px;
    border: 0;
    border: 0.1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0px 5px 1px #C0F0FE;
}
.right {
    background-color: #3aff17; 
}
.wrong {
    background-color: #fe6f6f; 
    margin-right: 50px;
}
.right:active {
    background-color: #179900;
}
.wrong:active {
    background-color: #6f0000;
}

/* Final field with result */

.answer_block {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 450px;
        height: 700px;
        margin-top: 200px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 30px;
        padding: 50px 70px;
        box-shadow: 0px 0px 2px #34bdd2;
        border: 0.1px solid rgba(0, 0, 0, 0.1);
        z-index: 10;
}
.answer_title {
    font-size: 40px;
    color: #000000;
    margin-bottom: 100px;
}
.answer_points {
    font-size: 50px;
    font-weight: 900;
    color: rgb(255, 43, 43);
    text-shadow: 1px 1px 1px  #000;
}
.answer_flexBtn {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.answer_part {
    word-break: break-all;
    color: rgb(0, 0, 0);
    width: 350px;
    height: 200px;
    margin-bottom: 10px;
}
.answer_out-right {
    color: green;
    font-size: 20px;
    word-break: break-all;
}
.answer_out-wrong {
    color: red;
    font-size: 20px;
    word-break: break-all;
}
@media screen and (max-width: 1600px) {
   .answer_block {
        width: 420px;
        height: 600px;
        margin-top: 130px;
   }
   .answer_flexBtn {
    margin-top: 100px;
}
}
@media screen and (max-width: 1200px) {
    .answer_block {
        width: 380px;
        margin-top: 120px;
    }
    .answer_title {
        font-size: 35px;
        margin-bottom: 60px;
    }
    .answer_part {
        width: 280px;
    }
    .answer_flexBtn {
        margin-top: 100px;
    }
  
}
@media screen and (max-width: 500px) {
    .answer_block {
    width: 350px;
    margin-top: 70px;
}
}
.answer_title {
    font-size: 30px;
}

.ukraine {
    position: absolute;
    right: 0px;
    font-size: 16px;
    margin: 20px;
    z-index: 10;
}
@media screen and (max-width: 500px) {
    .ukraine {
    font-size: 14px;
    }
}

.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;              
    top: 40%;                         
    transform: translate(0, -50%);
    padding: 30px;
    width: 450px;
    height: 250px;
    border-radius: 25px;
    background-color: #e15b5b;
    box-shadow: 0px 10px 1px #83daf5;
    z-index: 10;
}
@media screen and (max-width: 500px) {
    .error { 
        width: 330px;
    }   
}

.error_title {
    color: #ffffff;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    text-shadow: -1px -1px 20px  rgb(167, 236, 255);
}
.error_text {
    color: #ffffff;
    margin-bottom: 20px;
}
.error_button {
    width: 300px;
}
.error_button:hover {
    width: 350px;
}