* { 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
}

body {
    width: 100%;
    height: 100%;
    background-color: #b6ecfd;
    background-image: url("/background/els.png"), url("/background/els.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top -250px center, bottom -200px center;
    background-size: 130% auto, 130% auto;
    color: #000;
}

